.post-section {
    padding-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    background-color: white;
    margin-bottom: 40px;
}

.post-title > h2 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    font-weight: 400;
    letter-spacing: 2px;
}

.post-info {
    max-width: 600px;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

.post-info-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.post-info p {
    margin-bottom: 30px;
}











/* ===== Tablet (≤768px) ===== */
@media (max-width: 768px) {
    .post-title > h2 {
        font-size: 32px;
        letter-spacing: 1.5px;
    }

    .post-info {
        margin-bottom: 70px;
        font-size: 17px;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* ===== Mobile (≤480px) ===== */
@media (max-width: 480px) {
    .post-section {
        padding-top: 80px;
    }
    
    .post-title {
        padding-top: 15px;
    }

    .post-title > h2 {
        font-size: 26px;
        letter-spacing: 1px;
    }

    .post-info {
        font-size: 16px;
        text-align: justify;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}