.portfolio-section {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.portfolio-title {
    /* background-color: lightpink; */
    height: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-title > h2 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    font-weight: 400;
    letter-spacing: 2px;
}

.portfolio-info {
    letter-spacing: 1px;
    margin-bottom: 100px;
    max-width: 900px;
    margin-left: 30px;
    margin-right: 30px;
}

.month-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.month-container-title {
    font-size: 28px;
    margin-bottom: 20px;
    border-color: black;
    border-width: 1px;
}

.post-container {
    border-width: 1px;
    padding: 20px 20px 20px 20px;
    transition: background-color 0.15s;
    cursor: pointer;

    box-shadow: 5px 5px 10px rgb(230, 230, 230);
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-container > a {
    text-decoration: none;
}

.post-container:hover {
    background-color: rgb(245, 245, 245);
}

.post-date {
    font-size: 16px;
    color: rgb(160, 160, 160);
}

.post-title {
    margin-top: 6px;
    font-size: 18px;
    color: black;
}









/* ===== Tablet (≤768px) ===== */
/* @media (max-width: 768px) {
    .blog-title > h2 {
        font-size: 32px;
        letter-spacing: 1.5px;
    }

    .blog-info {
        margin-bottom: 70px;
        font-size: 17px;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
} */

/* ===== Mobile (≤480px) ===== */
/* @media (max-width: 480px) {
    .blog-section {
        padding-top: 80px;
    }
    
    .blog-title {
        padding-top: 15px;
    }

    .blog-title > h2 {
        font-size: 26px;
        letter-spacing: 1px;
    }

    .blog-info {
        font-size: 16px;
        text-align: justify;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
} */